<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">FAQify</a>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</nav>